.countup{
    background-color: palevioletred;
  }

.counter{
    background-color: palevioletred;
    width: 100%;
    border-radius: 10px;
    display: flex;
    position: relative;
    justify-content: center;
  }
  
  #header{
    text-align: center;
    color: palevioletred;
    font-size: 50px;
  }

  #person1 img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 50px;
  }
  
  @keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
  }
  
  #person2 img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 50px;
  }

  #timer{
    color: white;
    position: relative;
    text-align: center;
    font-size: 22px;
    bottom: 100px;
    position: relative;
    font-weight: 250;
  }

  .been h1{
    color: #fff;
    text-align: center;
    font-size: 40px;
    bottom: 90px;
    position: relative;
  }

  .heart {
    fill: white;
    position: relative;
    width: 100px;
    height: 90px;
    margin-top: 80px;
    animation: pulse 2s ease infinite;
    }
    
  .info1, .info2{
  display: flex;
  flex-direction: column;
  }
  
  .info1 h2,p{
  text-align: center;
  bottom: 40px;
  position: relative;
  color: #fff;
  }
  
  .info1 p {
  bottom: 70px;
  }
  
  .info2 p {
  bottom: 70px;
  }
  
  .info2 h2,p{
  text-align: center;
  bottom: 40px;
  position: relative;
  color: #fff;
  }

@media only screen and (max-width: 768px) {
    #person1 img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin: 50px;
      } 

    #person2 img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin: 50px;
      }
    #timer{
        font-size: 20px;
    }

    .heart {
      fill: white;
      position: relative;
      width: 70px;
      height: 60px;
      margin-top: 80px;
      animation: pulse 2s ease infinite;
      }
}
