h3{
  color: #fff;
}

#header{
  text-align: center;
  font-size: 38px;
  color: palevioletred;
}

.counter{
  background-color: palevioletred;
  width: 100%;
  border-radius: 10px;
  display: flex;
  position: relative;
  justify-content: center;
}

#person1 img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 50px;
}

.heart {
fill: white;
position: relative;
width: 100px;
height: 90px;
margin-top: 80px;
animation: pulse 2s ease infinite;
left: 30%;
}

@keyframes pulse {
0% { transform: scale(1); }
50% { transform: scale(1.3); }
100% { transform: scale(1); }
}

#person2 img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 50px;
}

.info1, .info2{
display: flex;
flex-direction: column;
}

.info1 h2,p{
text-align: center;
bottom: 40px;
position: relative;
color: #fff;
}

.info1 p {
bottom: 70px;
}

.info2 p {
bottom: 70px;
}

.info2 h2,p{
text-align: center;
bottom: 40px;
position: relative;
color: #fff;
}

#timer {
  font-size: 23px;
  font-weight: 100;
  text-align: center;
  color: #fff; 
  display: flex;
  flex-direction: row;
  position: relative;
  top: 20px;
}

#timer div {
  display: inline-block;
  margin: 5px;
  position: relative;
  text-align: center;
}

#timer div span {
  display: inline-block;
  margin: 10px;
  position: relative;
}

@media only screen and (max-width: 768px) {
#person1 img{
  height: 100px;
  width: 100px;
}

#person2 img{
  height: 100px;
  width: 100px;
}

.heart {
  width: 80px;
  height: 70px;
  left: 20%;
}

.info1 h2{
  font-size: 20px;
}

.info2 h2{
  font-size: 20px;
}

.info1, .info2 p{
  font-size: 15px;
}

.midinfo span{
  font-size: 18px;
}

#timer {
  font-size: 15px;
}

#timer div {
  margin: 2px;
}

#timer div span {
  margin: 2px;
  font-size: 15px;
}
}

section {
  padding: 100px 0;
}
